<!-- templates/answer_data.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Answer Data</title>
</head>
<body>
    <h1>Congratulation, You hava completed your interview</h1>
    <p>The submitted answer data is:</p>
    <!-- You can format and style the displayed data as needed -->
    <h4>Tips that may helpful for you</h4>
    {{ ress | safe }}
</body>
</html>

